<div class="row">
  <div class="col-xxxl-12">
    <div class="row">
      <div class="col-md-12 col-xxl-12">
        <nb-card size="medium">
          <nb-card-header>
            Products
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary">
              <div class="header">
                <p>We have two offerings that you’re bound to love!
                </p>
              </div>
              <b>
                <p>
                  <i>
                    <b>1. Yome Foods</b>
                  </i>
                </p>
              </b>
              <p>


                We hand-pick the best of the small food outlets and stalls that provide a variety of quality foods at reasonable rates. Once
                these outlets partner with Yome, we host virtual restaurants for them on third-party delivery channels. As
                a result of this, the end user is able to order good quality food at affordable rates.
              </p>
              <p>
                In turn, the food outlets benefit as they get exposure in the online arena. Yome not only provides an online platform for
                these outlets, but we also provide packaging services while simultaneously taking into consideration the
                overall hospitality aspect.
              </p>
              <p>
                Therefore, it is a win-win situation for the food outlets as well as the end user!

              </p>
              <b>
                <p>
                  <i>
                    <b>2. Yome Landmark</b>
                  </i>
                </p>
              </b>

              <p>
                Through this model, we will take over the workings of a restaurant. While the restaurant will retain its name and its employees,
                the entire process of running the restaurant will be handled by Yome.
              </p>
              <p>
                Here’s how we plan to go about it:
              </p>
              <ul>
                <li>We will gain control over the restaurant through partnership with its owner.</li>
                <li>We will take charge of the restaurant’s hospitality aspects as well as its promotion, both in the online
                  as well as offline world.</li>
                <li>In addition to acquiring budget-friendly restaurants, we will also partner with premium and luxury restaurants.</li>
              </ul>


            </div>
          </nb-card-body>

        </nb-card>
      </div>
    </div>
  </div>
</div>


<!-- <p>
  We have two offerings that you’re bound to love! 1. Yome Foods We hand-pick the best of the small food outlets and stalls
  that provide a variety of quality foods at reasonable rates. Once these outlets partner with Yome, we host virtual restaurants
  for them on third-party delivery channels. As a result of this, the end user is able to order good quality food at affordable
  rates. In turn, the food outlets benefit as they get exposure in the online arena. Yome not only provides an online platform
  for these outlets, but we also provide packaging services while simultaneously taking into consideration the overall hospitality
  aspect. Therefore, it is a win-win situation for the food outlets as well as the end user! 2. Yome Landmark Through this
  model, we will take over the workings of a restaurant. While the restaurant will retain its name and its employees, the
  entire process of running the restaurant will be handled by Yome. Here’s how we plan to go about it:  We will gain control
  over the restaurant through partnership with its owner.  We will take charge of the restaurant’s hospitality aspects as
  well as its promotion, both in the online as well as offline world.  In addition to acquiring budget-friendly restaurants,
  we will also partner with premium and luxury restaurants.
</p> -->