<!-- <p>

  <b>Yome</b> is an online restaurant aggregator startup that gathers information from restaurants all over India on a regular
  basis.If ordering affordable food online has always been your concern, allow Yome to come to your rescue! Here’s what Yome
  aims to accomplish:  To partner with restaurants and food outlets all over India and help them grow their business by
  improving their packaging and overall hospitality.  To provide virtual budget-friendly restaurants through online food
  delivery channels. We plan to do this, by addressing the following problems:  Availability of cost-effective food at your
  doorstep  Assurance of food quality  Packaging and handling issues  Food outlet owners who don’t have enough knowledge
  of the latest marketing techniques The good news is that we aren’t just restricting ourselves to the budget-friendly restaurants;
  we will also be featuring premium as well as luxury restaurants for customers who would love to splurge on food once in
  a while!
</p>
 -->


<div class="row">
  <div class="col-xxxl-12">
    <div class="row">
      <div class="col-md-12 col-xxl-12">
        <nb-card size="medium">
          <nb-card-header>
            Yome
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary">
              <div class="header">
                <!-- <div class="name bold">Exo</div>

                <div class="variants">
                  <span class="font-w-bold">Bold</span>
                  <span class="font-w-regular">Regular</span>
                  <span class="font-w-light">Light</span>
                </div> -->
              </div>
              <p>
                <b>Yome</b> is an online restaurant aggregator startup that gathers information from restaurants all over India
                on a regular basis.If ordering affordable food online has always been your concern, allow Yome to come to
                your rescue!
              </p>

              <b>
                <p>
                  <i>
                    <b>Here’s what Yome aims to accomplish:</b>
                  </i>
                </p>
              </b>

              <div>
                <ul>
                  <li>To partner with restaurants and food outlets all over India and help them grow their business by improving
                    their packaging</li>
                  <br>
                  <li>and overall hospitality. To provide virtual budget-friendly restaurants through online food delivery channels.
                  </li>
                </ul>
              </div>


              <b>
                <p>
                  <i>We plan to do this, by addressing the following problems:</i>
                </p>
              </b>

              <div>
                <ul>
                  <li>Availability of cost-effective food at your doorstep</li>
                  <br>
                  <li>Assurance of food quality </li>
                  <br>
                  <li>Packaging and handling issues </li>
                  <br>
                  <li>Food outlet owners who don’t have enough knowledge of the latest marketing techniques</li>
                </ul>
              </div>

              <p>
                The good news is that we aren’t just restricting ourselves to the budget-friendly restaurants; we will also be featuring
                premium as well as luxury restaurants for customers who would love to splurge on food once in a while!
              </p>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<!-- <button (click)="navigateToProductPage()">Navigate to Product Page</button> -->