<div class="row">
  <div class="col-xxxl-12">
    <div class="row">
      <div class="col-md-12 col-xxl-12">
        <nb-card size="medium">
          <nb-card-header>
            Careers
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary">
              <div class="header">
              </div>
              <p>
                Essentially a startup that has BIG plans, we believe in having fun even while we’re working long hours. We hope to build
                a restaurant aggregator that focuses on delivering quality, budget-friendly food at your doorstep. We, at
                Yome, focus on customer satisfaction beyond everything else and we hope to leave a mark, one city at a time!
              </p>
              <p>
                We value hard work, initiative and creativity and if you think you fit the bill, we’d love to hear from you!
              </p>
              <p>
                The following positions are open at Yome currently. Pick the one that excites you most!
              </p>
              <div>
                <ul>
                  <li>On-Ground Sales Person
                    <br> Location: Mumbai
                    <br> Number of openings: 2
                    <br> Functional Area: Sales
                    <br> Experience: 1-2 years</li>
                </ul>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
<!-- <p>
  Essentially a startup that has BIG plans, we believe in having fun even while we’re working long hours. We hope to build
  a restaurant aggregator that focuses on delivering quality, budget-friendly food at your doorstep. We, at Yome, focus on
  customer satisfaction beyond everything else and we hope to leave a mark, one city at a time! We value hard work, initiative
  and creativity and if you think you fit the bill, we’d love to hear from you! The following positions are open at Yome
  currently. Pick the one that excites you most!  On-Ground Sales Person Location: Mumbai Number of openings: 2 Functional
  Area: Sales Experience: 1-2 years
</p> -->