<div class="row">
  <div class="col-xxxl-12">
    <div class="row">
      <div class="col-md-12 col-xxl-12">
        <nb-card size="medium">
          <nb-card-header>
            About Us
          </nb-card-header>
          <nb-card-body>
            <div class="font-row font-secondary">
              <div class="header">
              </div>
              <!-- <b>
                <p>
                  <i>
                    <b>Who we are…</b>
                  </i>
                </p>
              </b> -->
              <p>

                <!-- <p>
                  Shakil Ansari and Yogesh Singh co-founded Yome in 2018. They met in college and became good friends. Towards their final
                  year, they decided to start a business together. They tossed around a few ideas, one of which was to become
                  a restaurant aggregator and that’s how Yome was conceived.
                </p> -->
                <b>
                  <p>
                    <i>
                      <b>How it all started…</b>
                    </i>
                  </p>
                </b>
                <p>
                  Thousands of people all over India order food online on a daily basis. However, what one doesn’t realize is that ordering
                  affordable food online is next to impossible. Whether you’re ordering a simple sandwich or a delicious
                  dessert, everything is priced at double the original rate. And if by chance, you do manage to get an affordable
                  food delivery deal online, the packaging the food arrives in is so awful that it will kill your hunger
                  right then and there.
                </p>
                <b>
                  <p>
                    <i>
                      <b>Our first business…</b>
                    </i>
                  </p>
                </b>
                <p>
                  <p>
                    That’s where Yome steps in. A play on the words ‘You’ and ‘Me’, Yome signifies the relation we share with one another. How
                    we landed Yome’s first business is an interesting story. While searching the streets for affordable food
                    one evening, we came across a small stall that sold a variety of items at a reasonable cost while maintaining
                    good hygiene standards. When we asked the owner of the stall as to how he planned to grow his business,
                    he had no answer. That’s when we introduced the concept of Yome to him and he absolutely loved it! And
                    just like that, Yome had its first business!
                  </p>

            </div>
          </nb-card-body>

        </nb-card>
      </div>
    </div>
  </div>
</div>